__pycache__
.idea
.ipynb_checkpoints
.venv
venv
logs

*.tar
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl
*.terraform.tfstate.lock.info
.terraform

*Chart.lock
*charts

*official-values.yaml
*values-reference.yaml
*output.yaml

#infra/docker-compose/_tmp_dags/
#infra/docker-compose/opt/
infra/docker-compose/terraform/.terraform
infra/docker-compose/terraform/.terraform.lock.hcl
infra/docker-compose/docker/portainer/data
infra/docker-compose/docker/iot-platform/data/*
infra/docker-compose/docker/iot-platform/config/passwd
infra/docker-compose/docker/airflow/config
infra/docker-compose/docker/airflow/dags
infra/docker-compose/docker/airflow/logs
infra/docker-compose/docker/airflow/plugins
infra/docker-compose/docker/airflow/airflow.cfg
infra/docker-compose/docker/airflow/airflow-webserver.pid
infra/docker-compose/docker/airflow/webserver_config.py
infra/docker-compose/docker/gitlab/config
infra/docker-compose/docker/gitlab/data
infra/docker-compose/docker/gitlab/logs

infra/k3s/bootstrap/ansible/inventory.ini
infra/k3s_migration/bootstrap/ansible/inventory.ini