[Unit]
Description=K8s Postgresql Proxy
After=network.target

[Service]
ExecStart=/usr/bin/socat TCP-LISTEN:5432,bind=0.0.0.0,fork,reuseaddr TCP:10.88.0.20:5432
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target