[Unit]
Description=K8s Postgresql Proxy
After=network.target

[Service]
ExecStart=/usr/bin/socat TCP-LISTEN:5432,fork TCP:10.88.0.20:32722
Restart=always

[Install]
WantedBy=multi-user.target