# terraform/inventory.tftpl

[masters]
%{ for ip in masters ~}
${ip} ansible_user=${user}
%{ endfor ~}

[agents]
%{ for ip in agents ~}
${ip} ansible_user=${user}
%{ endfor ~}

[k3s_cluster:children]
masters
agents

# [gateway]
# ${gateway_ip} ansible_user=${user}

[storage]
${element(masters, 0)} ansible_user=${user}