# terraform/inventory.tftpl

[masters]
${master_ip} ansible_user=${user}

[agents]
%{ for ip in agent_ips ~}
${ip} ansible_user=${user}
%{ endfor ~}

[k3s_cluster:children]
masters
agents

# [gateway]
# ${gateway_ip} ansible_user=${user}